html {
    font-size: 12px;

    @media (min-width: 1200px) {
        font-size: 1vw;
    }

    @media (min-width: 1440px) {
        font-size: 14.4px;
    }
}

a {
    text-decoration: none;
    color: #000;
}
